:root {
  --main-text-color: #212121;
  --secondary-text-color:#ffffff;
  --ouwer-text-color:  #757575;
  --acent-color:#2196f3;
  --logo-color-text:#000000;
  --background-footer-color: #2f303a;
  --buttons-port-color:#f5f4fa;
  --footer-text-color: rgba(255,255,255,0.6);
  --contener-color: #EEEEEE;
  --line-color: #ECECEC;
  --main-font: "Roboto", sans-serif;

}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
}

ul {
  list-style: none;
}

.logo-black {
  font-family: "Raleway", sans-serif;
  color: var(--logo-color-text);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  margin: 24px 93px 25px 215px;
  line-height: 1.17;
}

.logo-blue {
  color: var(--acent-color);
}

.header {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
  color: var(--main-text-color);


}

.current:{
  color:var(--acent-color);
}

.header:hover,
.header:focus {
  color: var(--acent-color);

}

.header-border{
  border: 1px solid var(--line-color);
}

.navi {
  list-style: none;
}

.contact-first {
  color: var(--ouwer-text-color);
}

.section-title {
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--secondary-text-color);
  line-height: 1.5;
}

.section-first {
  background-color: var(--background-footer-color);
  width: 1600px;
  height: 600px;

}

.button-order {
  height: 50px;
  width: 200px;
  left: 700px;
  top: 430px;
  background-color: var(--acent-color);
  color: var(--secondary-text-color);
  line-height: 1.9;
  cursor: pointer;
  font-family: var(--main-font);
  font-weight: 700;
font-size: 16px;
line-height: 30px;
}

.button-order:hover,
.button-order:focus {
  background-color: var(--buttons-port-color);
  color: var(--main-text-color);
  cursor: pointer;
}

.visually-hidden{
  position:absolute;
  width:1px;
  height: 1px;
  margin:-1px;
  border:0;
  padding:0;
  white-space:nowrap;
  clip-path:insert(100%);
  overflow:hidden;

}

.list-title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list-text {
  color: var(--ouwer-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.7;
}

.title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}

.section-third {
  background-color: var(--buttons-port-color);
}

.teams-names {
  font-weight: 500;
  letter-spacing: 0.03em;
}

.teams-position {
  letter-spacing: 0.03em;
  color: var(--ouwer-text-color);
}


.section-shadow{
box-shadow: 0px 2px 1px 0px #00000033;
box-shadow: 0px 1px 1px 0px #00000024;
box-shadow: 0px 1px 3px 0px #0000001F;

}


footer {
  background-color: var(--background-footer-color);
  color: var(--secondary-text-color);
}

.logo-white {
  font-family: "Raleway";
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
}

.address {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--secondary-text-color)
  text-decoration: none;
  line-height: 1.7;
}

.contact-second {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--footer-text-color);
  line-height: 1.7;
}

.contact-second:hover,
.contact-second:focus {
  color: var(--acent-color);
}

.button-navi {
  letter-spacing: 0.03em;
  text-align: center;
  background: var(--buttons-port-color);
  border-radius: 4px;
  line-height: 1.5;
  cursor: pointer;
}

.button-navi:hover,
.button-navi:focus {
  background-color: var(--acent-color);
  color: var(--secondary-text-color)
  cursor: pointer;
}

.section3-area{
  background-color: var(--secondary-text-color);
  border: 1px solid var(--contener-color);
}


.section3-title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: left;
  line-height: 2;
}

.section3-type {
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--ouwer-text-color);
  line-height: 1.9;
}

